@model Student

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdStudent">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.IdStudent">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
