@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model WebApplication6.Models.Class
@{
    ViewData["Title"] = "Detail Class";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" ">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div>
    <h4> Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameClass)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClass">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.IdClass">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
